<div class="container">
    <div class="row" style="margin-bottom: 32px;">
        <h1>Book an engineer</h1>
    </div>
    <div class="row" *ngIf="showBookingOptions">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <input type="radio" value="B1" [(ngModel)]="selectedOption" name="bookings"> Book Gas and pipe
                    </div>
                    <div class="col-md-12">
                        <img src="../../../assets/gascan.png" alt="gas" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <input type="radio" value="B2" [(ngModel)]="selectedOption" name="bookings"> Book Power and
                        Utilities
                    </div>
                    <div class="col-md-12">
                        <img src="../../../assets/power.png" alt="power" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <input type="radio" value="B3" [(ngModel)]="selectedOption" name="bookings"> Others
                    </div>
                    <div class="col-md-12">
                        <img src="../../../assets/others.png" alt="others" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" *ngIf="showBookingOptions" style="margin-top:12px">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100" (click)="continue()">Continue to next step</button>
        </div>
    </div>
    <div class="row" *ngIf="!showBookingOptions">
        <ng-container *ngIf="selectedOption == 'B1'">
            <div style="font-weight: 600;font-size:xx-large;margin-bottom: 18px;">Gas & Heating Repair</div>
            <ng-container *ngIf="!selectedDesc && !selectedResult">
                <div style="font-weight: 600;font-size:x-large;margin-bottom: 18px">Where is the problem</div>
                <div class="checkboxgroup">
                    <div *ngFor="let step of bookingStepsGas"><input type="checkbox" id="{{step.value}}"
                            value="{{step.value}}" [(ngModel)]="step.checked"> {{step.text}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedDesc && !selectedResult">
                <div style="font-weight: 600;font-size:x-large;margin-bottom: 18px">Where is the problem</div>
                <div>
                    <textarea id="gasDesc" cols="50" [(ngModel)]="gasDesc"></textarea>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedAppointment">
                <div class="row">
                    <div class="col-md-4">
                        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" />
                    </div>
                    <div class="col-md-3">
                        <div class="booking-time">
                            <input type="radio" name="booking-time" value="8:00 - 10:00"  /> 8:00 - 10:00
                        </div>
                        <div class="booking-time">
                            <input type="radio" name="booking-time" value="10:00 - 12:00"/> 10:00 - 12:00
                        </div>
                        <div class="booking-time"></div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedResult && !selectedAppointment">
                <div class="row">
                    selection: 
                    {{selectedResult | json}}
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="selectedOption == 'B2'">
            <div style="font-weight: 600;font-size:xx-large;margin-bottom: 18px;">Power Repair</div>
            <div style="font-weight: 600;font-size:x-large;margin-bottom: 18px">Where is the problem</div>
            <div class="checkboxgroup">
                <div *ngFor="let step of bookingStepsPower"><input type="checkbox" id="{{step.value}}"
                        value="{{step.value}}" [checked]="step.checked"> {{step.text}}</div>
            </div>
        </ng-container>
        <ng-container *ngIf="selectedOption == 'B3'">
            <div style="font-weight: 600;font-size:xx-large;margin-bottom: 18px;">Others</div>
            <div style="font-weight: 600;font-size:x-large;margin-bottom: 18px">Where is the problem</div>
            <div class="checkboxgroup">
                <div *ngFor="let step of bookingStepsOther"><input type="checkbox" id="{{step.value}}"
                        value="{{step.value}}" [checked]="step.checked"> {{step.text}}</div>
            </div>
        </ng-container>
    </div>
    <div class="row" *ngIf="!showBookingOptions && !selectedResult" style="margin-top: 32px;">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary w-100" [disabled]="checkDisabledBtn()"
                (click)="continue()">Continue to next step</button>
        </div>
    </div>
</div>